<div class="container">
    <form action="/api/addUser" method="POST">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              required
            />
          </div>
          <div class="mb-3">
            <label for="fullname" class="form-label">Fullname</label>
            <input
              type="text"
              class="form-control"
              id="fullname"
              name="fullname"
              required
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              required
            />
          </div>
          <div class="mb-3">
            <label for="address" class="form-label">Address</label>
            <input
              type="text"
              class="form-control"
              id="address"
              name="address"
              required
            />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              type="text"
              class="form-control"
              id="email"
              name="email"
              required
            />
          </div>
          <div class="mb-3">
            <label for="sex" class="form-label">Sex</label>
          <select name="sex" id="sex" class="form-control">
            <option value="nam">Nam</option>
            <option value="nu">Nữ</option>
          </select>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>